@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$main-color          : #df01d7;
$main-text-gray-color: #9b6262;
$light-gray-color    : #995c5c;
$main-black-color    : #20232a;
$main-white-color    : #f0cccc;
$place-holder-color  :#d1a7cf;

html {
  font-size : 66.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
}

body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size  : 1.6rem;
}


footer {
  grid-area       : footer;
  background-color: #203040;
  color           : #ffffff;
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  position        : relative;
  bottom          : 0;
  height          : 40px;
  margin-top      : 200px;
}

.fail {
  position   : absolute;
  top        : 50%;
  left       : 50%;
  transform  : translate(-50%, -50%);
  font-weight: bold
}

/* Filter */
.filter {
  display        : flex;
  justify-content: space-evenly;
  padding-bottom : 20px;
  padding-left   : 2rem;
  margin         : 1rem;
  border-bottom  : 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}


.content {
  display  : flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}